html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
.container_white {
  width: 1150px;
  margin: 0 auto;
}
.block {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url('../resourse/Rectangle\ 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.block p {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  height: 81px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
h1 {
  width: 956px;
  height: 120px;
  font-size: 60px;
  margin-bottom: 30px;
}
.opisanie {
margin-bottom: 150px;
}
.opisanie p {
  margin: 0;
  font-family: Manrope;
  width: 1000px;
  font-size: 45px;
  margin-bottom: 30px;
}
h4 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.opisanie_a {
  display: block;
  width: 255px;
  height: 67px;
  text-align: center;
  line-height: 67px;
  background-color: brown;
  border: 1px solid brown;
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  border-radius: 5px;
}
.opisanie_a:hover {
  background-color: #fff;
  color: brown;
} 
.project {
  display: block;
  margin-bottom: 90px;
}
.project_img {
  padding-bottom: 15px;
  width: 1150px;
  height: 450px;
}
.project_p {
  height: 41px;
  padding-bottom: 15px;
  font-family: Manrope;
  font-size: 30px;
  font-weight: 400;

}
.project_button {
  cursor: pointer;
  font-size: 20px;
  color: brown;
  border: none;
  background-color: #fff;
}
.project_a {
  margin-bottom: 150px;
  display: block;
  width: 1150px;
  height: 153px;
  color: brown;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  line-height: 153px;
  border: 1px solid brown;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 400;
}
.project_a:hover {
  background-color: brown;
  color: #fff;
}
.container_black {
  width: 1400px;
  margin: 0 auto;
  height: 1844px;
  background-color: #121212;
}
.container_black h4 {
  padding-top: 151px;
  padding-left: 127px;
  width: 66px;
  height: 25px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}
.offers {
  margin: 0 auto;
  width: 1150px;
}
.offers_p {
  height: 41px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.bed {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 717px;
  background-image: url(../resourse/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bed_p {
  position: absolute;
  width: 443px;
  height: 82px;
  bottom: 60px;
  left: 125px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
/* panel */
.panel {
  padding-top: 33px;
  width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.panel_img {
  display: flex;
}
.panel_list {
  display: flex;
}
.panel_list>div {
  display: block;
  margin-left: 60px;
  text-align: center;
}
.panel_list>div>h4>a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #121212;
}
.panel_list>div>h4>a:hover {
  border-bottom: #121212 solid 1px;
  opacity: 0.5;
}
/* footer */
.footer {
  margin: 0 auto;
  width: 1400px;
  height: 553px;
}
.footer_img {
  padding-top: 150px;
  padding-left: 120px;
  width: 24px;
  height: 24px;
}
.footer_info {
  padding-left: 124px;
  width: 473px;
  height: 217px;
  flex-shrink: 0;
}
h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  color: #121212;
}
h2>a {
  text-decoration: none;
  color: #121212;
}
h2>a:hover {
  border-bottom: #121212 solid 1px;
  opacity: 0.5;
}
.footer_info>p {
  width: 400px;
  padding-top: 25px;
  font-size: 60px;
  font-weight: 400;
}
.footer_info>p>a {
  text-decoration: none;
  color: #121212;
}
.footer_info>p:hover {
  border-bottom: #121212 solid 1px;
  opacity: 0.5;
}

.footer_end {
  background-color: #121212;
  width: 1400px;
  height: 229px;
  margin: 0 auto;
}
.nav {
  padding-top: 60px;
  width: 600px;
  margin: 0 auto;
}
.nav>a {
  margin-left: 55px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
.footer_end>.nav>a:hover {
  border-bottom: 1px solid;
  opacity: 0.5;
}
.footer_end>p {
  text-align: center;
  padding-top: 87px;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
}